<% provide(:title, 'Home') %>

<div class="jumbotron">
  <h1>Welcome to MDapp</h1>
  <p class="lead"> This is the MDapp home page </p>
  <% if !(signed_in?) %>
  <%= link_to "Sign up now!", signup_path , class:"btn btn-lg btn-success" %>
  <% end %>
</div>
